@import "variables";

.btn-default{
	background-color: $blue-light;
	margin: 100px auto;
	display: block;
	text-align: center;
	padding: $btn-padding-top $btn-padding-bottom;

	&:hover{
		background-color: $blue-light;
	}

}
