@import "variables";
@import "mixins";

.btn-default{
	background-color: $blue-light;
	margin: 100px auto;
	display: block;
	text-align: center;
	padding: $btn-padding-top $btn-padding-bottom;
	@include transition(0.2s);


	&:hover{
		background-color: $blue-dark;
	}

}
