//layout vars
$max-700: 700px;
$default-radius: 5px;

//color vars
$grey-border: #ccc;
$grey-darker: #4d4d4d;
$green: #27ae60;

//Typography vars
$h3-default: 18px;
$h3-default-mobile: 16px;

$font-default: 15px;
$font-default-plus: 16px;
$font-weight-default: 500;
$font-weight-plus: 600;
